/*------------------------------------

		   	  color wheel

  ------------------------------------*/

/*----------------------
   color wheel icon 
----------------------*/

.colorwheel-icon{
	height: 20px;
	width: 20px;
}
/* rows */
.colorwheel-icon>div{
	height: 4px;
	text-align: center; 
}
/* circles */
.colorwheel-icon>div>div{
	border-radius: 2px;
	height: 4px;
	width:4px;
	float:left;
}
/* row 1 */
/* violet */
.colorwheel-icon>div:nth-child(1)>div{
	background-color: #93F;
	margin-left: 9px;
}
/* row 2 */
.colorwheel-icon>div:nth-child(2){
	margin-top: -1px;
}
/* red */
.colorwheel-icon>div:nth-child(2)>div:nth-child(1){
	background-color: #F00;
	margin-left: -9px;
}
/* blue */
.colorwheel-icon>div:nth-child(2)>div:nth-child(2){
	background-color: #00F;
	margin-left: 1px;
}
/* row 3 */
.colorwheel-icon>div:nth-child(3){
	margin-top: 1.5px;
}
/* orange */
.colorwheel-icon>div:nth-child(3)>div:nth-child(1){
	background-color: #F93;
	margin-left: 4px;
}
/* green */
.colorwheel-icon>div:nth-child(3)>div:nth-child(2){
	background-color: #0F0;
	margin-left: 6px;
}
/* row 4 */
/* yellow */
.colorwheel-icon>div:nth-child(4)>div{
	background-color: #FF0;
	margin-left: 9px;
	margin-top: -1px;
}


/*----------------------
	color wheel
----------------------*/

.color-wheel{
	max-width: 127px;
}
.color-wheel>div{
	text-align: center;
}
.color-wheel>div button{  
	padding: 7px;
 	margin: 0px 3px;
}
/* row 1 */
.color-wheel>div:nth-child(1)>button:nth-child(1){
	background-color: #FF007F;
}
.color-wheel>div:nth-child(1)>button:nth-child(2){
	background-color: #FF0000;
}
.color-wheel>div:nth-child(1)>button:nth-child(3){
	background-color: #FF7F00;
}
/* row 2 */
.color-wheel>div:nth-child(2)>button:nth-child(1){
	background-color: #FF00FF;
}
.color-wheel>div:nth-child(2)>button:nth-child(2){
	background-color: #FF99CC;
}
.color-wheel>div:nth-child(2)>button:nth-child(3){
	background-color: #FFCC99;
}
.color-wheel>div:nth-child(2)>button:nth-child(4){
	background-color: #FFFF00;
}
/* row 3 */
.color-wheel>div:nth-child(3)>button:nth-child(1){
	background-color: #7F00FF;
}
.color-wheel>div:nth-child(3)>button:nth-child(2){
	background-color: #CC99FF;
}
.color-wheel>div:nth-child(3)>button:nth-child(3){
	background-color: #FFFFFF;
	border: 1px solid #444;
}
.color-wheel>div:nth-child(3)>button:nth-child(4){
	background-color: #CCFF99;
}
.color-wheel>div:nth-child(3)>button:nth-child(5){
	background-color: #7FFF00;
}
/* row 4 */
.color-wheel>div:nth-child(4)>button:nth-child(1){
	background-color: #0000FF;
}
.color-wheel>div:nth-child(4)>button:nth-child(2){
	background-color: #99CCFF;
}
.color-wheel>div:nth-child(4)>button:nth-child(3){
	background-color: #99FFCC;
}
.color-wheel>div:nth-child(4)>button:nth-child(4){
	background-color: #00FF00;
}
/* row 5 */
.color-wheel>div:nth-child(5)>button:nth-child(1){
	background-color: #007FFF;
}
.color-wheel>div:nth-child(5)>button:nth-child(2){
	background-color: #00FFFF;
}
.color-wheel>div:nth-child(5)>button:nth-child(3){
	background-color: #00FF7F;
}





























