
/*------------------------------------

			 edit profile

  ------------------------------------*/






input[type=file]{
	font-size: 12px;
}






/*---------- upload banner -----------*/
#banner-filedrag{
	height: 250px;
	border-radius: 12px;
	text-align: right;
	padding-top: 84px;
	padding-right: 15px;
}
#banner-filedrag,
#avatar-filedrag,
#semi-circle-traditional-upload{
	-webkit-transition: .15s;
	-moz-transition: .15s;
	-ms-transition: .15s;
	-o-transition: .15s;
	transition: .15s;
}
#banner-filedrag,
#avatar-filedrag{
	border: 3px dashed #444;
	font-size: 17px;
	background-position: center center;
	background-size: cover;
}
.hover{
	border: 3px solid #5CB85C !important;
	box-shadow: inset 0px 0px 7px 1px #bbb;

}
.traditional-upload{
	background-color: #ddd;
	max-width: 220px;
	border-radius: 10px;
	margin-top: -240px;
	float: right;
	margin-right: 10px;
  	padding: 8px 12px;
  	z-index: 1;
}
.traditional-upload:hover{
	opacity: 1 !important;
}









/*---------- upload avatar -----------*/
#edit-avatar{
	max-width: 225px;
	height: 225px;
	position: relative;
	left: 50%;
	margin-top: -113px;
	margin-left: -112.5px;
	z-index: 1;
}
#avatar-filedrag{
	border-radius: 50%;
	height:225px;
	padding-top: 118px;
	text-align: center;
	background-color: #fff;
}
#semi-circle-traditional-upload{
	background-color: #ddd;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	text-align: center;
	width: 205px;
	height: 100px;
	margin-left: 10px;
	margin-top: -215px;
	padding-top: 46px;
}
#avatar-fileselect{
	margin-left: 15px;
}
.avatar-shape-btns{  
	max-width: 100px;
	height: 50px;
	position: relative;
	left: 50%;
	margin-left: 65px;
	padding: 12px;
}
.avatar-shape-btns>div{
	text-align: center;
}
.avatar-shape{
	height: 25px;
	width: 25px;
	border: 2px solid #444;
}











/*----------- text inputs ------------*/
section.container>.row{
	margin-bottom: 34px;
}
#description{
	height: 100px;
}






