
/*------------------------------------

			  edit maps

  ------------------------------------*/




/* page content */
#page-content{
	position: absolute;
	height:100%;
	width:100%;
}




/* navbar */
#navbar{
	margin: 0px;
}








/* format toolbar */
#format-toolbar{
	position: absolute;
	z-index: 1;
	top: 65px;
	width: calc(100% - 50px);
	left: 25px;
}
#format-toolbar .btn,
#page-title{
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 0.5px 0.5px 2px #888;
}
#format-toolbar .btn:hover{
	color: #fff;
	background-color: rgba(92, 184, 92, 1);
}
#page-title{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
#page-title button{
	 /*position: absolute; */
}






/* map canvas */
#map-canvas{
	position: static !important;
	height: calc(100% - 58px);
	width: 100%;
}












