
/*------------------------------------

		   edit social media

  ------------------------------------*/


/*----------------------
   animated elements
----------------------*/

/* 500 ms */
/*{
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}*/




/*----------------------
   activate buttons
----------------------*/

/* activation buttons container */
.activation-btns>div{
	float:left;
	width:33%;
	text-align: center;
	margin-bottom: 20px;
}
/* main activate button */
.activate-btn{
	font-size: 43px;
	color: #AAA;
	padding: 8px;
	height:60px;
	background-color: transparent;
}
/* header */
.activation-btns h5{
	font-weight: 600;
}

/* hover & activated effects */
/* facebook */
#activate-face>button.activate-btn:hover,
#activate-face>button.activate-btn.activated{
	color: #3B5998;
}
/* instagram */
#activate-inst>button.activate-btn:hover,
#activate-inst>button.activate-btn.activated{
	color: #517fa4;
}
/* tumblr */
#activate-tumb>button.activate-btn:hover,
#activate-tumb>button.activate-btn.activated{
	color: #32506d;
}
/* twitter */
#activate-twit>button.activate-btn:hover,
#activate-twit>button.activate-btn.activated{
	color: #00ACED;
}
/* etsy */
#activate-etz .activate-btn{
	margin-top: -5px;
	height: 65px;
}
.etsy-icon{
	font-family: times;  
	display: inline-block;
	height: 44px;
	width: 44px;
	background-color: #AAA;
	font-size: 40px;
	color: #fff;
	line-height: 1;
	border-radius: 8px;
	padding-top: 2px;
}
#activate-etz span.etsy-icon:hover,
#activate-etzspan.etsy-icon.activated{
	background-color: #f45800;
}
/* google */
#activate-goog>button.activate-btn:hover,
#activate-goog>button.activate-btn.activated{
	color: #dd4b39;
}
/* popover button */

/*----------------------
   		feed
----------------------*/





/*----------------------
	social settings
----------------------*/




