
/*------------------------------------

			  edit maps

  ------------------------------------*/






/* animations */
.animate-300{
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
#draw-new-polygon-toolbar{
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}








/* page content */
#page-content{
	position: absolute;
	height:100%;
	width:100%;
}




/* navbar */
#navbar{
	margin: 0px;
}








/* components toolbar */
#components-toolbar{
	position: absolute;
	z-index: 1;
	top: 92px;
	width: calc(100% - 40px);
	left: 40px;
}
#components-toolbar .btn{
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 0.5px 0.5px 2px #888;
}
#components-toolbar .btn{
	color: #3c763d;
}
#components-toolbar .btn:hover{
	color: #fff;
	background-color: rgba(92, 184, 92, 1);
}
#components-toolbar .btn.selected{
	color: #fff;
	background-color: rgba(92, 184, 92, 1);
}
#page-title{
	cursor: default;
	color: #444 !important;
	background-color: rgba(255, 255, 255, .9) !important;
	z-index: 0 !important;
}
#page-title h4{
	margin: 0px;
	margin-top: 1px;
}	










/* map canvas */
#map-canvas{
	position: static !important;
	height: calc(100% - 58px);
	width: 100%;
}











/* bottom formatting toolbars */
#bottom-toolbar{
	padding: 5px;
	box-shadow: 0.5px 0.5px 2px #888;
	background-color: rgba(255, 255, 255, .9);
  	border-radius: 6px;
}
.formatting-toolbar{
	display: none;
	border: 2px dashed #CCC;
	border-radius: 4px;
	padding: 4px 6px;
	margin-top: 5px;
}
.toolbar-instructions{
	text-align: right;
	float: right;
	font-size: 11px;
	margin-right: 12px;
	line-height: 1;
	max-width: 38%;
}
.formatting-toolbar h4{
	margin: 0px;
	color: #3c763d;
}










/*----------------------------------------------- 

				draw new polygon 

-----------------------------------------------*/



/*---------------------- 
	toggle pull tab
----------------------*/
.nav-tabs{
	z-index: -1;
	display: none;
}
.nav-tabs li{
	float: right;
	margin-right: 7px;
	border: 1px solid #ccc;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.nav-tabs a,
.nav-tabs a:hover{
	background-color: #fff !important;
	padding: 8px 15px !important; 
	margin: 0px !important;
	border-bottom: none !important;
	color: #5CB85C;
}
.nav-tabs div.glyphicon{
	display: block;
}

.nav-tabs div.glyphicon:nth-child(2){
	margin-top: -6px;
}





#draw-new-polygon-toolbar{
	height: 54px;
	overflow: hidden;
}




/*---------------------- 
	  color wheel 
----------------------*/

.color-wheel{
	margin: 20px 0px;
}
.color-wheel>div{
	text-align: center;
}
.color-wheel>div button{  
	padding: 7px;
 	margin: 0px 2px;
}
/* row 1 */
.color-wheel>div:nth-child(1)>button:nth-child(1){
	background-color: #FF007F;
}
.color-wheel>div:nth-child(1)>button:nth-child(2){
	background-color: #FF0000;
}
.color-wheel>div:nth-child(1)>button:nth-child(3){
	background-color: #FF7F00;
}
/* row 2 */
.color-wheel>div:nth-child(2)>button:nth-child(1){
	background-color: #FF00FF;
}
.color-wheel>div:nth-child(2)>button:nth-child(2){
	background-color: #FF99CC;
}
.color-wheel>div:nth-child(2)>button:nth-child(3){
	background-color: #FFCC99;
}
.color-wheel>div:nth-child(2)>button:nth-child(4){
	background-color: #FFFF00;
}
/* row 3 */
.color-wheel>div:nth-child(3)>button:nth-child(1){
	background-color: #7F00FF;
}
.color-wheel>div:nth-child(3)>button:nth-child(2){
	background-color: #CC99FF;
}
.color-wheel>div:nth-child(3)>button:nth-child(3){
	background-color: #FFFFFF;
	border: 1px solid #444;
}
.color-wheel>div:nth-child(3)>button:nth-child(4){
	background-color: #CCFF99;
}
.color-wheel>div:nth-child(3)>button:nth-child(5){
	background-color: #7FFF00;
}
/* row 4 */
.color-wheel>div:nth-child(4)>button:nth-child(1){
	background-color: #0000FF;
}
.color-wheel>div:nth-child(4)>button:nth-child(2){
	background-color: #99CCFF;
}
.color-wheel>div:nth-child(4)>button:nth-child(3){
	background-color: #99FFCC;
}
.color-wheel>div:nth-child(4)>button:nth-child(4){
	background-color: #00FF00;
}
/* row 5 */
.color-wheel>div:nth-child(5)>button:nth-child(1){
	background-color: #007FFF;
}
.color-wheel>div:nth-child(5)>button:nth-child(2){
	background-color: #00FFFF;
}
.color-wheel>div:nth-child(5)>button:nth-child(3){
	background-color: #00FF7F;
}

/* color picker input */
#color-picker{
	border-radius: 4px;
	border: 0px;
	width: 27px;
}




/*---------------------- 
	   hex table
----------------------*/

th{
	text-align: center;
	font-size: 12px;
}
tbody td{
	padding: 2.5px 1px;
	height: 28px;
}
tbody button.btn{ 
	border: 1px solid #CCC;
}
tbody button.btn-color-selected{
	box-shadow: 0px 0px 9px #444;
}
#polygon-hex-fill-input,
#polygon-hex-stroke-input{
	padding: 8px 6px;
	text-transform: uppercase;
}
#polygon-opacity-stroke-input,
#polygon-opacity-fill-input{
	padding: 6px 2px;
	text-align: center;
}


/* undo redo buttons */
#redo{
	float:right;
}
#undo span{
	-moz-transform: scaleX(-1);    /* Gecko */
	-o-transform: scaleX(-1);      /* Operah */
	-webkit-transform: scaleX(-1); /* webkit */
	transform: scaleX(-1);         /* standard */
}
#complete-polygon{
	width: 100%;
}








/* content cover */
#content-cover{
	height:100%;
}






