
/*------------------------------------

			 edit products

  ------------------------------------*/


/*----------------------
   animated elements
----------------------*/

/* 500 ms */
#new-product-btn,
#producer-btns,
#product-already-listed,
#existing-product-search,
#product-inputs{
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}


/*----------------------
		nav-tabs
----------------------*/

.nav-tabs{
	margin-top: 24px;
}
.nav-tabs>li{
	float:right;
	font-size: 20px;
}
.tab-content{
	padding: 20px 0;
}
ul.instructions{
	padding-left: 20px;
}
ul.instructions>li{
    padding: 5px 0px;
    font-size: 12px;
}

/*----------------------
 search products input
----------------------*/

/* use this search form a couple times */
.search-products-input{
	padding:6px;
	border-radius: 6px;
	background-color: #ccc;
	width: 100%;
	margin: 20px 0;
}
/* search input */
.search-products-input input{
	border-radius: 5px !important;
	width: calc(100% - 55px) !important;
}
/* search button */
.search-products-input button{  
	padding: 9px 16px;
	font-size: 20px;
	background-color: #CCC;
}
.search-products-input button:hover{
	color: #5CB85C;
}

/*----------------------
	new product btn
----------------------*/

#new-product-btn{
	font-size: 16px;
	width: 100%;
	padding: 5px;
	margin: 12px 0;
}
#new-product-btn>div{
	border: 2px dashed #CCC;
	padding: 6px;
	border-radius: 8px;
}

/*----------------------
   new product panel
----------------------*/

/* hidden content */
#producer-btns,
#product-already-listed,
#existing-product-search,
#product-inputs{
	display: none;
	opacity: 0;
}

/* x close new product panel */
#new-product-btn>div>button.close{
	display: none;
	margin-right: 10px;
}
/* info buttons */
.glyphicon-info-sign{
	float: right;
	cursor: pointer;
}
/* producer buttons */
#producer-btns .btn-group button,
#product-already-listed .btn-group button{
	min-width: 80px;
	font-weight: 600;
}
#product-already-listed .btn-group button:nth-child(3){
	border: 1px solid #ccc;
	border-left: 0px;
}
#product-already-listed .btn-group button:nth-child(3):hover{
	background-color: #999;
	color: #fff;
}
/* search products again */
#search-products-2{
	border-radius: 4px;
	width: calc(100% - 40px);
}
/* save alert */
#save-alert-1,
#save-alert-2{
	background-color: #dfdfdf;
	border: 1px solid #bbb;
	opacity: 1;
	margin-top: 20px;
	margin-bottom: 20px;
}
#save-alert-1>div,
#save-alert-2>div{
	height: 100%; 
	float:left; 
	margin-right: 20px;
}
#save-alert-1 button,
#save-alert-2 button{
	margin-top: calc(50% - 24px);
}
/* product name */
label{
	font-weight: 100;
	margin: 0px;
	margin-top: 20px;
}

/*----------------------
   upload img swiper
----------------------*/

.hero{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
	color:#CCC;
	border: 1px solid #aaa;
	height: 210px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.hero .glyphicon{
	font-size: 40px;
	margin-top: 64px;
}
/* hero swiper */
.hero-swiper{
	height: 90px;
	padding: 5px 0px;
}
.swiper-slide{
	min-height: 80px;
}
/* slideshow images */
.image-slide{
	background-size: cover;
	background-position: center center;
	max-width: 90px;
}
.image-slide>div,
.image-slide>input{
	float: right;
	cursor: pointer;
	opacity: .7;
}
.image-slide>div:hover,
.image-slide>input:hover{
	opacity: 1;
}
/* remove image btn icon */ 
.image-slide>div{
	font-size: 20px;
	color: #fff;
	margin-top: -4px;
	margin-right: -4px;
}
/* move image to the front of the slideshow */
.image-slide>input{
	margin-top: 37px;
	margin-right: 0px;
	height: 20px;
	width: 20px;
}
/* upload slide */
.upload-slide{
	min-width: 240px;
	padding: 2px;
}
/*  */
.filedrag{
	height: 100%;
	border: 2px dashed #ccc;
	text-align: center;
	line-height: 1.1;
}
/* upload slide fileselect */
.fileselect{
  height: 30px;
  position: absolute;
  max-width: 226px;
  background-color: #ccc;
  padding: 3px;
  border-radius: 4px;
  margin: 5px;
  margin-top: -34px;
  text-overflow: ellipsis;
}
.fileselect input{
	max-width: 220px;
}
/* description */
textarea{
	width: 100%;
}




/*----------------------
	products swiper
----------------------*/
.swiper-container{
	box-shadow: inset 0px 0px 4px #999;
	background-color: #ccc;	
}
#products-swiper{
	height: 150px;
	margin: 30px 0px;
	padding: 8px 0px;
}
.swiper-slide{
	height: 100%;
	max-width: 150px;
	background-color: #fff;
	box-shadow: 0px 0px 4px #999;
}










