/*------------------------------------

		   	  edit jumbotron

  ------------------------------------*/

/*----------------------
		canvas		  
----------------------*/

/* canvas title */
#canvas-title{
	margin-top: 0px;
}
/* main canvas elem */
#jumbo-canvas{
	border: 1px dashed #ccc;
    border-radius: 10px;
    height: 400px;
    margin-bottom: 20px;
}
/* canvas layers */
#jumbo-canvas>div>div{
	display:none;
}

/*----------------------
	jumbo toolbar
----------------------*/

#jumbo-toolbar{
	padding:12px;
	background-color: #d6e9c6;
	box-shadow: 0 0 6px #676767;
	margin-bottom: 20px;
}
#jumbo-toolbar .btn{
	padding: 10px 12px;
}
/* components toolbar */
#jumbo-toolbar .glyphicon-plus,
#jumbo-toolbar .glyphicon-pencil{
	font-size: 12px;
}
/* little dashed box icons */
.dash-box{
    font-size: 14px;
    outline: 1px dashed;
    padding: 2px;
    float: left;
    margin-right: 5px;
}
/* layout view dropdown */
#layout-view{
	float: right;
	cursor: pointer;
}
/* dropup menu */
#layout-view .dropdown-menu{
	left: auto;
	right: -5px;
	padding-top: 0px;
}
/* dropdown header */
#layout-view .dropdown-menu .dropdown-header{
    background-color: #eee;
    text-align: center;
}
#layout-view .dropdown-menu .divider{
	margin-top: 0px;
}
#layout-view .list-group-item{
	padding: 0px 8px;
}
#layout-view .list-group-item a{
	padding: 8px 20px;
	border-bottom: 1px solid #ccc;
}

/*----------------------
	options toolbar
----------------------*/
#props>div{
	display: none;
}
/* properties div */
#props>div>hr{
	margin-bottom: 14px;
}
/* options title */
.opts-title{
	padding-left: 2px;
}
.opts-title>div{
	padding: 3px 3px 0px;
	margin-top: -2px;
	font-size: 12px;
	max-height: 18px;
}
.opts-title>h5{
	margin-top: 0px;
	margin-bottom: 14px;
}
/* toolbar & buttons */
.opts-toolbar{
	margin-bottom: 20px;
	margin-left: -1px;
}
.opts-toolbar .btn{
	width: 63px;	
	text-align: center;
}

/*----------------------
	control panel
----------------------*/
.control-panel{
	/*display: block !important;*/
	position: inherit;
	max-width: none;
	margin-bottom: 9px;
}
.control-panel .popover-title{
	height:35px;
}
.control-panel .popover-title>div{
	float: left;
}
/* breadcrumb chevron icon */
.control-panel .glyphicon-chevron-right{
	padding: 0px 6px;
	color: #5CB85C;
}
.control-panel>.arrow{
	position: relative;
}

/*----------------------
 edit background image
----------------------*/

/* half slide input */
.half-slider{
	width: 50%;
}
.half-slider label{
	width: 100%;
	text-align: center;
	margin-bottom: 16px;
}
.half-slider input.form-control{
	width: 50px;
	float: right;
	margin-top: -7px;
}
.half-slider input.range-slider{
	width: calc(100% - 56px);
}

/*----------------------
	  crop image
----------------------*/

#crop-btn{
	padding: 5px;
}
#crop-btn>div{
	border: 2px dashed #3c763d;
	padding: 4px 12px;
	font-weight: 600;
}
#crop-btn span{
	padding-right: 5px;
}

/*---------------------- 
 edit background color
----------------------*/

/* hex table */
th{
	text-align: center;
	font-size: 12px;
}
tbody td{
	padding: 2.5px 1px;
	height: 28px;
}
tbody button.btn{ 
	border: 1px solid #CCC;
}
tbody button.btn-color-selected{
	box-shadow: 0px 0px 9px #444;
}

/* color picker input */
#color-picker{
	border-radius: 4px;
	border: 0px;
	width: 27px;
}

/*----------------------
   color wheel icon 
----------------------*/

.colorwheel-icon{
	height: 24px;
	width: 30px;
}
/* rows */
.colorwheel-icon>div{
	height: 6px;
	text-align: center; 
}
/* circles */
.colorwheel-icon>div>div{
	border-radius: 50%;
	height: 6px;
	width:6px;
	float:left;
}

/* row 1 */
/* violet */
.colorwheel-icon>div:nth-child(1)>div{
	background-color: #93F;
	margin-left: 9px;
}
/* row 2 */
.colorwheel-icon>div:nth-child(2){
	margin-top: -2px;
}
/* red */
.colorwheel-icon>div:nth-child(2)>div:nth-child(1){
	background-color: #F00;
	margin-left: -14px;
}
/* blue */
.colorwheel-icon>div:nth-child(2)>div:nth-child(2){
	background-color: #00F;
	margin-left: 2px;
}
/* row 3 */
.colorwheel-icon>div:nth-child(3){
	margin-top: 1.5px;
}
/* orange */
.colorwheel-icon>div:nth-child(3)>div:nth-child(1){
	background-color: #F93;
	margin-left: 1px;
}
/* green */
.colorwheel-icon>div:nth-child(3)>div:nth-child(2){
	background-color: #0F0;
	margin-left: 10px;
}
/* row 4 */
/* yellow */
.colorwheel-icon>div:nth-child(4)>div{
	background-color: #FF0;
	margin-left: 9px;
	margin-top: -2px;
}

/*----------------------
	color wheel
----------------------*/

.color-wheel{
	max-width: 127px;
}
.color-wheel>div{
	text-align: center;
}
.color-wheel>div button{  
	padding: 7px;
 	margin: 0px 3px;
}
/* row 1 */
.color-wheel>div:nth-child(1)>button:nth-child(1){
	background-color: #FF007F;
}
.color-wheel>div:nth-child(1)>button:nth-child(2){
	background-color: #FF0000;
}
.color-wheel>div:nth-child(1)>button:nth-child(3){
	background-color: #FF7F00;
}
/* row 2 */
.color-wheel>div:nth-child(2)>button:nth-child(1){
	background-color: #FF00FF;
}
.color-wheel>div:nth-child(2)>button:nth-child(2){
	background-color: #FF99CC;
}
.color-wheel>div:nth-child(2)>button:nth-child(3){
	background-color: #FFCC99;
}
.color-wheel>div:nth-child(2)>button:nth-child(4){
	background-color: #FFFF00;
}
/* row 3 */
.color-wheel>div:nth-child(3)>button:nth-child(1){
	background-color: #7F00FF;
}
.color-wheel>div:nth-child(3)>button:nth-child(2){
	background-color: #CC99FF;
}
.color-wheel>div:nth-child(3)>button:nth-child(3){
	background-color: #FFFFFF;
	border: 1px solid #444;
}
.color-wheel>div:nth-child(3)>button:nth-child(4){
	background-color: #CCFF99;
}
.color-wheel>div:nth-child(3)>button:nth-child(5){
	background-color: #7FFF00;
}
/* row 4 */
.color-wheel>div:nth-child(4)>button:nth-child(1){
	background-color: #0000FF;
}
.color-wheel>div:nth-child(4)>button:nth-child(2){
	background-color: #99CCFF;
}
.color-wheel>div:nth-child(4)>button:nth-child(3){
	background-color: #99FFCC;
}
.color-wheel>div:nth-child(4)>button:nth-child(4){
	background-color: #00FF00;
}
/* row 5 */
.color-wheel>div:nth-child(5)>button:nth-child(1){
	background-color: #007FFF;
}
.color-wheel>div:nth-child(5)>button:nth-child(2){
	background-color: #00FFFF;
}
.color-wheel>div:nth-child(5)>button:nth-child(3){
	background-color: #00FF7F;
}














