
/*------------------------------------

			 edit profile

  ------------------------------------*/






input[type=file]{
	font-size: 12px;
}







/*---------- upload banner -----------*/
#banner-filedrag{
	height: 250px;
	border-radius: 12px;
	text-align: right;
	padding-top: 84px;
	padding-right: 15px;
}
.filedrag{
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	border: 3px dashed #444;
	font-size: 17px;
}
.traditional-upload{
	background-color: #ddd;
	max-width: 220px;
	border-radius: 10px;
	margin-top: -240px;
	float: right;
	margin-right: 10px;
  	padding: 8px 12px;
  	z-index: 1;
}









/*---------- upload avatar -----------*/
#edit-avatar{
	max-width: 225px;
	height: 225px;
	position: relative;
	left: 50%;
	margin-top: -113px;
	margin-left: -112.5px;
	z-index: 1;
}
#avatar-filedrag{
	border: 3px dashed #444;
	border-radius: 50%;
	height:225px;
	padding-top: 118px;
	text-align: center;
	background-color: #fff;
}
.semi-circle-traditional-upload{
	background-color: #ddd;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	text-align: center;
	width: 205px;
	height: 100px;
	margin-left: 10px;
	margin-top: -215px;
	padding-top: 46px;
}
#avatar-fileselect{
	margin-left: 15px;
}
.avatar-shape-btns{  
	max-width: 100px;
	height: 50px;
	position: relative;
	left: 50%;
	margin-left: 65px;
	padding: 12px;
}
.avatar-shape-btns>div{
	text-align: center;
}
.avatar-shape{
	height: 25px;
	width: 25px;
	border: 2px solid #444;
}














