
/*------------------------------------

			 edit products

  ------------------------------------*/


/*----------------------
   animated elements
----------------------*/

/* 500 ms */
#new-product-btn,
#new-product-btn>div,
#new-product-panel{
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

/*----------------------
	search products
----------------------*/

/* use this search form a couple times */
.search-products-input{
	padding:6px;
	border-radius: 6px;
	background-color: #ccc;
	width: 100%;
}
/* search input */
#search-products{
	border-radius: 5px;
	width: calc(100% - 55px);
}
/* search button */
#search-products-submit{  
	padding: 9px 16px;
	font-size: 20px;
}
.search-products-input button{
	background-color: #CCC;
}
.search-products-input button:hover{
	color: #5CB85C;
}

/*----------------------
	products swiper
----------------------*/
.swiper-container{
	box-shadow: inset 0px 0px 4px #999;
	background-color: #ccc;	
}
#products-swiper{
	height: 150px;
	margin: 30px 0px;
	padding: 8px 0px;
}
.swiper-slide{
	height: 100%;
	max-width: 150px;
	background-color: #fff;
	box-shadow: 0px 0px 4px #999;
}

/*----------------------
	new product btn
----------------------*/

#new-product-btn{
	text-align: center;
	width: 100%;
	padding: 5px;
	margin-bottom: 30px;
}
#new-product-btn>div{
	border: 2px dashed #CCC;
	padding: 6px;
	border-radius: 8px;
}

/*----------------------
   new product panel
----------------------*/

/* x close new product panel */
#close-new-product-panel{
	display: none;
	margin-right: 10px;
}
/* new product panel outter most div */
#new-product-panel{
	text-align: left;
	display: none;
	opacity: 0;
	font-size: 16px;
}
/* info buttons */
.glyphicon-info-sign{
	float: right;
	cursor: pointer;
}
/* producer buttons */
.producer-btns .btn-group button,
.product-already-listed .btn-group button{
	min-width: 80px;
	font-weight: 600;
}
.producer-btns .btn-group button:nth-child(1),
.product-already-listed .btn-group button:nth-child(1){
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	border-right: 0px;
}
.producer-btns .btn-group button:nth-child(1):hover,
.product-already-listed .btn-group button:nth-child(1):hover{
	background-color: #5CB85C;
	color: #fff;
}
.producer-btns .btn-group button:nth-child(2),
.product-already-listed .btn-group button:nth-child(2){
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	border-left: 0px;
}
.producer-btns .btn-group button:nth-child(2):hover,
.product-already-listed .btn-group button:nth-child(2):hover{
	background-color: #d9534f;
	color: #fff;
}
.product-already-listed .btn-group button:nth-child(3){
	border: 1px solid #ccc;
	border-left: 0px;
}
.product-already-listed .btn-group button:nth-child(3):hover{
	background-color: #999;
	color: #fff;
}
/* search products again */
#search-products-2{
	border-radius: 4px;
	width: calc(100% - 40px);
}
/* save alert */
#save-alert-1,
#save-alert-2{
	background-color: #dfdfdf;
	border: 1px solid #bbb;
	opacity: 1;
	margin-top: 20px;
	margin-bottom: 20px;
}
#save-alert-1>div,
#save-alert-2>div{
	height: 100%; 
	float:left; 
	margin-right: 20px;
}
#save-alert-1 button,
#save-alert-2 button{
	margin-top: calc(50% - 24px);
}
/* product name */
label{
	font-weight: 100;
	margin: 0px;
	margin-top: 20px;
}

/*----------------------
   upload img swiper
----------------------*/

.hero{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
	color:#CCC;
	border: 1px solid #aaa;
	height: 210px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.hero .glyphicon{
	font-size: 40px;
	margin-top: 64px;
}
/* hero swiper */
.hero-swiper{
	height: 90px;
	padding: 5px 0px;
}
.swiper-slide{
	min-height: 80px;
}
/* slideshow images */
.image-slide{
	background-size: cover;
	background-position: center center;
	max-width: 90px;
}
.image-slide>div,
.image-slide>input{
	float: right;
	cursor: pointer;
	opacity: .7;
}
.image-slide>div:hover,
.image-slide>input:hover{
	opacity: 1;
}
/* remove image btn icon */ 
.image-slide>div{
	font-size: 20px;
	color: #fff;
	margin-top: -4px;
	margin-right: -4px;
}
/* move image to the front of the slideshow */
.image-slide>input{
	margin-top: 37px;
	margin-right: 0px;
	height: 20px;
	width: 20px;
}
/* upload slide */
.upload-slide{
	min-width: 240px;
	padding: 2px;
}
/*  */
.filedrag{
	height: 100%;
	border: 2px dashed #ccc;
	text-align: center;
	line-height: 1.1;
}
/* upload slide fileselect */
.fileselect{
  height: 30px;
  position: absolute;
  max-width: 226px;
  background-color: #ccc;
  padding: 3px;
  border-radius: 4px;
  margin: 5px;
  margin-top: -34px;
  text-overflow: ellipsis;
}
.fileselect input{
	max-width: 220px;
}
/* description */
textarea{
	width: 100%;
}

/*----------------------
  formatting toolbar 
----------------------*/

/* toolbar */
.formatting{
	display: none;
}
.formatting .btn-toolbar{
	text-align: right;
}
.formatting div.btn-group{
	margin: 4px 0px;
	float: right;
}
/* toggle formatting table */
.toggle-formatting-table{
	font-size: 12px;
}
.toggle-formatting-table span.glyphicon-triangle-bottom{
	font-size: 10px;
}
/* instructions table */
.formatting table{
	display:none;
	width: 100%;
	text-align: left;
	font-size: 13px;
	border: 1px solid #d6e9c6;
}
.formatting thead{
	color: #3c763d;
	text-align: center !important;
	background-color: #dff0d8;
	border-bottom: 1px solid #d6e9c6;
}
.formatting th{
	padding: 5px;
	text-align: center;
}.formatting th:nth-child(1){
	border-right: 1px solid #ccc;
}
.formatting tbody tr{
	max-width: 50%;
	border-bottom: 1px solid #ccc;
}
.formatting td{
	width: 50%;
	padding: 4px 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.formatting tbody td:nth-child(2){
	border-left: 1px solid #ccc;
}












