@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?387ktx');
	src:url('../fonts/icomoon.eot?387ktx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?387ktx') format('truetype'),
		url('../fonts/icomoon.woff?387ktx') format('woff'),
		url('../fonts/icomoon.svg?387ktx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
	content: "\e900";
}
.icon-images:before {
	content: "\e901";
}
.icon-profile:before {
	content: "\e902";
}
.icon-stack:before {
	content: "\e903";
}
.icon-laptop:before {
	content: "\e904";
}
.icon-mobile:before {
	content: "\e905";
}
.icon-mobile2:before {
	content: "\e906";
}
.icon-upload:before {
	content: "\e918";
}
.icon-quotes-left:before {
	content: "\e907";
}
.icon-quotes-right:before {
	content: "\e908";
}
.icon-enlarge:before {
	content: "\e909";
}
.icon-equalizer:before {
	content: "\e90a";
}
.icon-list-numbered:before {
	content: "\e90b";
}
.icon-list2:before {
	content: "\e90c";
}
.icon-upload3:before {
	content: "\e90d";
}
.icon-exit:before {
	content: "\e90e";
}
.icon-underline:before {
	content: "\e90f";
}
.icon-strikethrough:before {
	content: "\e910";
}
.icon-page-break:before {
	content: "\e911";
}
.icon-google-plus2:before {
	content: "\e912";
}
.icon-facebook2:before {
	content: "\e913";
}
.icon-instagram:before {
	content: "\e914";
}
.icon-twitter:before {
	content: "\e915";
}
.icon-tumblr2:before {
	content: "\e916";
}
.icon-linkedin:before {
	content: "\e917";
}

