
/*------------------------------------

			   homepage

  ------------------------------------*/







/* ----- promo swiper --------------- */

/* --- end promo swiper ------------- */









/* ---- results swiper -------------- */

/* -- end results swiper ------------ */








/* ------- jumbotron ---------------- */
#jumbo-container{
	padding: 0;
}
#jumbo-pull-tab{
	margin-top: -41px;
	max-width: 47px;
	position: relative;
	left: 53px;
}
.container .jumbotron{
	position: relative;
	border-radius: 0px;
	margin: 0;
}
.jumbo-lead h1{
	font-size: 44px;
	font-weight: 600;
}
.jumbo-lead p{
    font-size: 24px;
    font-weight: 600;
    line-height: .8;
}
/* ----- end jumbotron -------------- */





