
/*------------------------------------

			   homepage

  ------------------------------------*/







/* ----- promo swiper --------------- */

/* --- end promo swiper ------------- */









/* ---- results swiper -------------- */

/* -- end results swiper ------------ */








/* ------- jumbotron ---------------- */
#jumbo-container{
	padding: 0;
}
#jumbo-pull-tab{
	margin-top: -41px;
	max-width: 47px;
	position: relative;
	left: 75px;
	z-index: -1;
}
.nav-tabs>li.active>a.map-pull-tab{
	background-color: #5CB85C !important;
	color:#fff;
	border: 0;
}
.container .jumbotron{
	position: relative;
	border-radius: 0px;
	margin: 0;
	background-color: #5CB85C;
}
.jumbo-lead h1{
	font-size: 44px;
	font-weight: 600;
}
.jumbo-lead p{
    font-size: 24px;
    font-weight: 600;
    line-height: .8;
}
/* ----- end jumbotron -------------- */





/*------------------------------------

				responsive

  ------------------------------------*/


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.container .jumbotron{
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

}






