
/*------------------------------------

		   site wide styles

  ------------------------------------*/








/* ------ logo ---------------------- */
.logo{
	text-transform: uppercase;
	text-align: left;
	font-weight: 600;
}
.logo>div{
	float: left;
	background-color: #5CB85C;
	color: #fff;
	padding: 0 2%;
	margin-right: 0px;
}
.logo>span{
	margin-left: .5%;
	color:#333;
}
.logo>div, .logo>span{
	line-height: 167%;
}
/* ------ end logo ------------------ */








/* ------- navbar ------------------- */

/* solid white [mobile] */
.navbar-map{
	margin: 8px;
	width: calc(100% - 16px);
	min-height: 36px;
	position: fixed;
}
.navbar-header>button{
	float: left;
}
.navbar-map .navbar-header>button{
	margin: 0;
}
.navbar-brand{
	position: relative;
	left: 50%;
	margin-left: -109px;
	padding: 3px 6px;
	min-width: 136px;
}
.user-pic{
	outline: 1px solid #181818;
	padding: 7px 8px;
	margin-right: 6px;
}
/* ------ end navbar ---------------- */







/* ---- google map & components ---- */
#map-canvas{
	  border: 0;
	  position: fixed !important;
	  height: calc(100% - 106px);
	  width: 100%;
	  margin-top: 53px;
}
/* elements laid over the map */
.map-overlay-n{ /* light comes from north */
	z-index: 1;
	box-shadow: 0.5px 0.5px 2px #999;
}
.map-overlay-s{ /* light comes from south */
	z-index: 1;
	box-shadow: 0.5px -0.5px 2px #999;	
}
.map-pull-tab{
	background-color: #eee !important;
  	z-index: 2;
  	box-shadow: 1.5px -1.5px 1.5px -0.9px #bbb;
}










/* -------- footer ------------------ */

/* ------ end footer ---------------- */










/*------------------------------------

				responsive

  ------------------------------------*/


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	/* navbar */
	.navbar-map{
		background: rgba(255, 255, 255, 0.9);
		margin: 8px;
		width: calc(100% - 16px);
		min-height: 36px;
		border-radius: 2px;
	}
	.navbar-brand{
		position: static;
	}
	.navbar-form, .navbar-form>div{
		min-width: 268px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* homepage jumbotron */
	.jumbo-logo{
		float:none;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


