
/*------------------------------------

		   site wide styles


color schemes I like:

 	- http://paletton.com/#uid=72P0u0kg0sSqn7Lgl6edxX30rX+



  ------------------------------------*/




body{
	overflow-x: hidden; 
	/*text-align: center;*/
}
a{
	color: #5CB85C;
}
input[type=checkbox]{
	height:17px;
	width: 17px;
	margin-right: 8px;
	margin-top: 4px;
	float:left;
}
.list-group-item{
	background-color: transparent;
	border: none;
}
.alert{
	opacity: 0;
}




/* ------ animation ---------------------

NOTE: Animations appears to run faster if
	  if the styles are linked directly to
	  the elements instead of having a
	  unique animation class.

-------------------------------------- */

/* 300 ms */
#navbar, 
#page-content, 
#content-cover, 
#map-canvas{
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

/* 500 ms */
.alert{
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

/* loading spinner */
@keyframes spinner {
  from {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
  }
}
.loading{
	animation-duration: 1s;
	animation-name: spinner;
	animation-iteration-count: infinite;
	color:#5CB85C;
}

/* ---- end animations --------------- */




#navbar,
#page-content,
#content-cover{
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
#page-content{
	background-color: #fff;
}
#content-cover{
	position: absolute;
	top:0px;
	z-index: 5001;
	width: 100%;
	height: 101%;
	opacity: 0;
	background-color: #000;
	display: none;
}










/* ------ logo ---------------------- */
.logo{
	text-transform: uppercase;
	text-align: left;
	font-weight: 600;
	font-size: 18px;
}
.logo .route{
	float: left;
	background-color: #5CB85C;
	color: #fff;
	padding: 0 2%;
	margin-right: 0px;
}
.logo span{
	margin-left: .5%;
	color:#333;
}
.logo>div, .logo>span{
	line-height: 167%;
}
/* ------ end logo ------------------ */









/*---------------------- 
	slideout menu 
----------------------*/

/* semi-transparent white overlaid on map */
.navbar-map{
	padding: 8px;
	min-height: 52px;
	background-color: rgba(255, 255, 255, .9);
	float:right;
	margin-right: 5%;
	/*position: absolute;*/
	height:52px;
	width: calc(100% - 70px);
	/*left:35px;*/
	max-width: 760px;
	top: 30px;
	border-radius: 8px;
	z-index: 1;
	box-shadow: 0.5px 0.5px 2px #888;
}
/* dark navbar laid over white page (non-map) */
.navbar-dark{
	background-color: rgb(95, 95, 95); /* #5f5f5f */
	border-radius: 0px;
}
/* give the navbar-header some padding */
.navbar-header{
	padding: 0px 15px;
}
/* center logo in navbar */
.navbar-brand{
	width: 138px;
	display:block;
	margin-top: 10px;
	position: relative;
	left: 50%;
	margin-left: -118px;
	padding: 3px 6px;
	min-width: 136px;
	height:35px;
}
/* navbar hamburger icon open sidenav */
#navbar-toggle-menu{
	float: left;
	font-size: 20px;
	padding: 5px 8px 5px 0px;
	color: #fff;
	margin-bottom: 0px;
	margin-top: 10px;
}
/* navigation for logged in user */
.user-nav{
	list-style: none;
	float:right;
	max-width: 40px;
	padding: 0px;
	margin: 8px 4px;
}
/* user-nav button */
.user-nav>.btn{
	margin:0px;
	margin-left: -8px;
	padding: 8px 4px;
	background-color: transparent;
}
.user-pic{
	padding: 8px 9px;
	border: 1px solid #FFF;
}

/*---------------------- 
	slideout menu 
----------------------*/

#slideout-menu{
	position: fixed;
	top:0px;
	height: 700px;
	width: 270px;
	background-color: #ededed;
	z-index: -1;
}
/* routesider logo */
#slideout-menu .logo{
	font-size: 24px;
	padding: 20px 0px;
}
#slideout-menu hr{
	border-color: #ccc;
	margin: 20px 30px;
}
/* logged in user menu */
/* small avatar (default square) */
#slideout-menu .avatar{
	height: 60px;
	width: 60px;
	position: relative;
	left:50%;
	margin-left: -30px;
	background-size: cover;
	background-position: center center;
	border-radius: 4px;
}
/* for users with circle avatars */
#slideout-menu .avatar.circle{
	border-radius: 50%;
}
/* labels above user links */
.link-labels{
	text-align: right; 
	padding: 0px 16px 12px 16px; 
	font-size: 12px; 
	color: #aaa;
}
.link-labels>div{
	float: left;
}
/* links list elements */
#slideout-menu .list-group-item{
	font-size: 16px;
	font-weight: 600;
}
/* user-links list elements */
.user-links .list-group-item{
	padding-top: 0px;
	padding-bottom: 11px;
}
/* logged in user menu links */
.user-links .list-group-item>div{
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
}
/* remove the border from the last list-group-item div */
.user-links .list-group-item:last-child>div{
	border-bottom: none;
}
.user-links a.view-page{
	text-align: left;
	color: #444;
	line-height: 1;
	height: 30px;
	padding-top: 7px;
	display: inline-block;
}
/* pencil edit buttons */
.user-links li a:nth-child(2){
	float:right;
}
.user-links button{
	padding: 4px 8px;
}
/*  */

.cool-links .list-group-item{
	text-align: center;
	background-color: transparent;
	border:none;
}
.lame-links a{
	color: #666;
}
/* ------ end navbar ---------------- */







/* ---- google map & components ---- */
#map-canvas{
	position: fixed !important;
	border: 0;
	height: calc(100% - 55px);
	width: 100%;
}
/* elements laid over the map */
.map-pull-tab,
.map-overlay-n{ /* light comes from north */
	z-index: 1;
	box-shadow: 0.5px 0.5px 2px #999;
}










/* -------- footer ------------------ */
footer{
	background-color: #5f5f5f;
	color:#fff;
}
footer .logo{
	padding-top: 30px;
	padding-left: calc(50% - 67px);
}
footer .logo .route{
	padding: 0 1%;
	color:#333;
}
footer .logo span{
	color: #fff;
}
footer .contact-info,
footer .contact-us{
	text-align: center;
}
footer .glyphicon{
	font-size: 30px;
}
footer>article{
	padding: 15px;
}
footer .contact-us{
	padding: 15px;
}
.contact-us .input-group{
	width: 100%;
}	
footer hr{  
	border-top: 1px solid #aaa;
  	margin: 30px;
}
footer input, footer textarea{
	margin:20px 0;
}
/* ------ end footer ---------------- */










/*------------------------------------

				responsive

  ------------------------------------*/


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	/* navbar */
	.navbar-map{
		padding-top: 0px; 
		position: relative;
		right: 50%;
		margin-right: -380px;
	}
	.navbar-brand{
		left: 0px;
		margin: 0px;
		margin-top: 8px;
	}
	.navbar-form, .navbar-form>div{
		min-width: 268px;
	}

	/* map canvas */
	#map-canvas{
		height: 100%;
	}

	/* page content */
	#page-content{
		box-shadow: none;
	}

	/* footer */
	footer.footer-map{
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
	footer .logo{
		font-size: 24px;
		padding-left: calc(50% - 86px);
		padding-bottom: 41px;
	}
	.contact-info,
	.contact-us{
		padding-top: 35px !important;
	}
	.contact-info>div:nth-child(3){
		margin-bottom: 45px !important; 
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* homepage jumbotron */
	.jumbo-logo{
		float:none;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


