
/*------------------------------------

		   site wide styles

  ------------------------------------*/


body{
	overflow-x: hidden; 
}






/* ------ animation ---------------------

NOTE: Animations appears to run faster if
	  if the styles are linked directly to
	  the elements instead of having a
	  unique animation class.

-------------------------------------- */

/* 300 ms */
#page-content, #content-cover{
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
/* ---- end animations --------------- */








#page-content{
	height: 100%;
	width:100%;
	position: absolute;
	box-shadow: -3px 0px 5px #888;
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
#content-cover{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 101%;
	opacity: 0;
	background-color: #000;
	display: none;
}










/* ------ logo ---------------------- */
.logo{
	text-transform: uppercase;
	text-align: left;
	font-weight: 600;
	font-size: 18px;
}
.logo .route{
	float: left;
	background-color: #5CB85C;
	color: #fff;
	padding: 0 2%;
	margin-right: 0px;
}
.logo span{
	margin-left: .5%;
	color:#333;
}
.logo>div, .logo>span{
	line-height: 167%;
}
/* ------ end logo ------------------ */








/* ------- navbar ------------------- */

/* solid white [mobile] */
.navbar-map{
	padding: 8px;
	width: 100%;
	min-height: 36px;
	position: fixed;
	background-color: #fff;
}
.navbar-header>button{
	float: left;
}
.navbar-map .navbar-header>button{
	margin: 0;
}
.navbar-brand{
	position: relative;
	left: 50%;
	margin-left: -109px;
	padding: 3px 6px;
	min-width: 136px;
}
.user-pic{
	outline: 1px solid #181818;
	padding: 7px 8px;
	margin-right: 6px;
}

/* slideout menu */
#slideout-menu{
	position: fixed;
	height: 700px;
	width: 270px;
	background-color: #ededed;
	z-index: -1;
}
#slideout-menu .logo{
	font-size: 24px;
	padding: 20px 0px;
}
#slideout-menu hr{
	border-color: #ccc;
	margin: 20px 30px;
}
/* ------ end navbar ---------------- */







/* ---- google map & components ---- */
#map-canvas{
	  border: 0;
	  position: fixed !important;
	  height: calc(100% - 106px);
	  width: 100%;
	  margin-top: 53px;
}
/* elements laid over the map */
.map-overlay-n{ /* light comes from north */
	z-index: 1;
	box-shadow: 0.5px 0.5px 2px #999;
}
.map-overlay-s{ /* light comes from south */
	z-index: 1;
	box-shadow: 0.5px -0.5px 2px #999;	
}
.map-pull-tab{
	background-color: #eee !important;
  	z-index: 2;
  	box-shadow: 1.5px -1.5px 1.5px -0.9px #bbb;
}










/* -------- footer ------------------ */

/* ------ end footer ---------------- */










/*------------------------------------

				responsive

  ------------------------------------*/


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	/* navbar */
	.navbar-map{
		background: rgba(255, 255, 255, 0.9);
		margin: 8px;
		width: calc(100% - 16px);
		min-height: 36px;
		border-radius: 2px;
	}
	.navbar-brand{
		position: static;
	}
	.navbar-form, .navbar-form>div{
		min-width: 268px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* homepage jumbotron */
	.jumbo-logo{
		float:none;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


