
/*------------------------------------

			   register

  ------------------------------------*/

@keyframes hourglass {
    0%{
    		-webkit-transform: rotate(0deg); /* Safari */
    		transform: rotate(0deg);
    	}
    50%{
    		-webkit-transform: rotate(0deg); /* Safari */
    		transform: rotate(0deg);
    	}
    100%  {
    		-webkit-transform: rotate(360deg); /* Safari */
    		transform: rotate(360deg);
    	}
}
@-webkit-keyframes hourglass {
    0%{
    		-webkit-transform: rotate(0deg); /* Safari */
    		transform: rotate(0deg);
    	}
    50%{
    		-webkit-transform: rotate(0deg); /* Safari */
    		transform: rotate(0deg);
    	}
    100%  {
    		-webkit-transform: rotate(360deg); /* Safari */
    		transform: rotate(360deg);
    	}
}

.sign-up-form div.glyphicon-hourglass{
    animation-name: hourglass;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



/*----------- sign up form -----------*/
.sign-up-form label{
	margin-top: 10px;
}
.sign-up-form [type=password],
.sign-up-form [type=text]{
	float:left;
	width: calc(100% - 48px);
	margin-bottom: 15px;
}
.sign-up-form .glyphicon-ok-circle,
.sign-up-form .glyphicon-remove-circle,
.sign-up-form .glyphicon-hourglass{
	position: relative;
	float: left;
	margin-left: -25px;
	font-size: 19px;
	margin-top: 7px;
	color:#d9534f;
	display:none;
}
.sign-up-form .glyphicon-ok-circle{  
	color: #5CB85C;
}
.sign-up-form .glyphicon-hourglass{
	color: #aaa;
}
.sign-up-form .input-error{
	position: absolute;
	font-size: 11px;
	color:#d9534f;
	margin-top: 35px;
}
.sign-up-form button{
	float:right;
}
/*------------------------------------*/




/*---------- easy as 1 2 3 -----------*/
.media-right{
	float:right;
}
.body-right{
	text-align:right;
}
.media{
	height:153px;
}
/*------------------------------------*/











/*------------ jumbotron -------------*/
.jumbotron{
	margin:0px;
}
/*------------------------------------*/




  