
/* Routesider */





/*-------------------------------------

			site wide styles

  -------------------------------------*/


/* logo */

.logo{
	text-transform: uppercase;
	text-align: left;
}
.logo>div{
	float: left;
	background-color: #5CB85C;
	color: #fff;
	padding: 0 2%;
	margin-right: 0px;
}
.logo>span{
	margin-left: .5%;
}
.logo>div, .logo>span{
	line-height: 167%;
}



/*-------------------------------------

				navbar

  -------------------------------------*/
.navbar-toggle, .navbar-search-toggle{
	margin: 8px;
}
.navbar-header>button{
	float: left;
}
.navbar-brand{
	position: relative;
	left: 50%;
	margin-left: -130px;
	padding: 10px 6px;
	min-width: 136px;
}
.user-pic{
	outline: 1px solid #181818;
	padding: 7px 8px;
	margin-right: 6px;
}







/*-------------------------------------

			   search map

  -------------------------------------*/

section.search-map>article{
	float:left;
}
.search-results-map{
	float:right;
}










/*-------------------------------------

			   	 about

  -------------------------------------*/

/*.jumbo-logo{
	float:right;
}

.jumbo-hook{
	text-align:right; 
	float:right;
}*/















/*-------------------------------------

				responsive

  -------------------------------------*/


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	/* navbar */
	.navbar-brand{
		position: static;
	}
	.navbar-form, .navbar-form>div{
		min-width: 268px;
	}

	/* search */
	.search-results{
		position: absolute;
		margin-top: 70px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.jumbo-logo{
		float:none;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


