/*------------------------------------

		   	 	resume

  ------------------------------------*/

/*----------------------
	animate elements
----------------------*/
#logo,
#navLinks,
.navbar form,
#lead,
.popover-title button,
.popover-content,
.upload-img,
#prev>div,
.card-header>div>div{
	-webkit-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
}

a,
a:hover,
button:hover,
button.active,
button:active{
	color: #5CB85C;
}
button.active,
button:active{
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
button:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: none;
}

/* colored buttons */
.btn-success{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.btn-info{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.btn-danger{
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/*----------------------
	google map
----------------------*/

#map-canvas,
#page-content{
	height: 100%;
	width: 100%;
}
#map-canvas{
	position: fixed !important;
}
#page-content{
	position: absolute;
	top: 500px;
}


/*----------------------
		navbar
----------------------*/

.navbar{
	position: absolute;
	top: -500px;
	width: 100%;
}
.navbar .container{
	padding: 0;
}
/* routesider logo */
.navbar-brand{
	z-index: 1;
	width: 128px;
	margin-left: -65px;
	left: 50%;
	position: absolute;
}
.navbar .hidden-md-up{
	float: right;
}
#navLinks{
	text-align: center;    
	background: rgba(255,255,255,0.89);
    padding: 20px;
    border-radius: 4px;
    display:none;
    transform: translate(129px, -93px) scale(0.1,0.1) rotateY(180deg);
}
.navbar-nav a.nav-link{
	float: none;
	margin-left: 0px !important;
}

/* ------ logo ---------------------- */
/* routesider logo */
#logo.navbar-brand{
	z-index: 1;
	width: 128px;
	margin-left: -65px;
	margin-right: 0px;
	left: 50%;
	position: absolute;
	transform: scale(1.05,1.05) translate(24px, 12px);
}
#logo>div{
	text-transform: uppercase;
	text-align: left;
	font-weight: 600;
	font-size: 18px;
	height: 30px;
	background: rgba(255,255,255,0.9);
}
#logo>div div{
	color:#333;
	line-height: 167%;
}
#logo .route{
	max-width: 70px;
}
#logo.starting{
	transform: scale(2.05,2.05) translate(0, 12px) !important;
}

/* ------ end logo ------------------ */

/* lead */
#lead{
	position: absolute;
	/*top: -500px;*/
	height: 290px;
	width: 290px;
    left: 50%;
    margin-left: -145px;
    text-align: center;
    padding: 12px;
    padding-top: 79px;
}
#lead button{
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 2;
}
#lead .input-group-addon{
	background-color: #fff;
	cursor: pointer;
}
#lead input{
	border-right: 0px;
}
#lead p{
	font-size: 0.9rem;
	font-weight: 600;
}
#lead span.input-group-addon:hover,
#lead ol span{
	color: #5CB85C;
}
#lead ol{
	text-align:left;
	font-size:14px;
}




/*----------------------
		toolbar
  ----------------------*/

.btn-toolbar{
	position:relative;
	top:-80px;
	max-width: calc(100% - 32px);
	text-align:center;
    max-height: 44px;
    overflow: hidden;
}
/* pull tab */
.pull-tab{
    float:right !important;
}
.pull-tab>button{
	font-size: 20px;
}
#mapTools{
	float: none;
	z-index: 1;
}
#cPanels,{
    position: relative;
}
#mapTools button{
	border: 1px solid #ABABAB;
	background-color: #dedede;
	font-size: 20px;
	width: 57px;
}




/*----------------------
	 control panels
  ----------------------*/

#cPanels{
	top:-65px;
}
.popover{
	display: none;
	position: relative;
	margin-bottom: 22px;
	top: -68px;
}
/* title */
.popover-title{
	text-align: center;
	font-weight: 600;
}
/* map related popover title */
.popover-title.map{
	line-height: 1.1;
	text-align: left;
}
.popover-title.map .icon-map{
	margin-left:calc(50% - 79px);
}
.popover-title.map .icon-plus{
	font-size: 8px;
	margin-top: 5px;
}
.popover-title.map .icon-plus,
.popover-title.map .icon-pencil{
	margin-left: 2px;
	margin-right: 4px;
}
/* close button */
.popover-title button{
	transform: rotate(270deg);
    margin-top: -3px;
}
.popover-title button[data-panel]{
	float: left;
}
.popover-title>span,
.popover-title>div{
	color: #5CB85C;
}
.popover-title>div{
	float:left;
}
.popover-content{
	overflow: hidden;
	height: auto;
	position: relative;
}
.popover-fade{  
	position: absolute;
	z-index:1;
	height: 100%;
	width: 99%;
	display: none;
    background: -webkit-linear-gradient(white, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, transparent); /* Standard syntax (must be last) */
}

/*----------------------
	drop pin panel
  ----------------------*/

/* current icon */
.current-icon h6{
	padding-left: 10px;
}
.current-icon>div{
	font-size: 24px;
	padding: 4px;
	padding-bottom: 0px;
	float: right;
	border-radius: 4px;
	border: 1px solid transparent;
	margin-top: -16px;
	margin-right: 24px;
}
.current-icon>div:hover{
	border-color: #ccc;
}
.current-icon button{
	margin-top: -6px;
}
.current-icon img{
	width: auto;
	max-height: 36px;
	margin-top: -8px;
}
.current-icon h6{
	padding-left: 25px;
	font-weight: 600;
}
/* upload pin icon image */
.upload-img{
	border: 2px dashed #ccc;
	border-radius: 6px;
	text-align: center;
	padding: 4px;
}
.upload-img:hover{
	border-color: #444;
}
.upload-img.hover{
	border: 2px solid #5CB85C;
}
.upload-img>div{
	text-align: left;
	font-size: 14px;
	background-color: #ddd;
	max-width: 220px;
	max-height: 64px;
	border-radius: 10px;
  	padding: 8px 12px;
    position: relative;
    left: 50%;
    margin-left: -110px;
    top: 4px;
}

/*----------------------
	 polygon panels
  ----------------------*/

#poly{
	min-width:100%;
	max-width: 486px !important;
}
/* undo, redo, complete buttons */
 .new-poly button{    
 	padding: 0.5rem 0.8rem;
    font-size: 0.75rem;
 }
/* hex/opacity table */
table{
	float:right;
}
/* hex & opacity header*/
th{
	max-width: 123px;
    overflow: visible;
    text-overflow: ellipsis;
    padding-left: 66px;
}
/* hack to fit the word 'opacity' */
th div{
	float: right;
	margin-right: -5px;
}
table td{
	padding-left: 4px;
}
table .hex-text{
	width: 77px;
}
table .opacity-text{
	width: 38px;
}
table .btn,
table .form-control{
	font-size: 14px;
}
table .btn{
	padding: 4px 8px;
}
table .form-control{
	padding: 4px;
}
/* color picker and slider input */
#poly .col-md-4{
	padding-top: 18px;
	text-align: center;
}

/*----------------------
	  embed preview
------------------------*/

#prev{
	display: none;
	position: absolute;
    top: -58px;
}
#prev>div{
	opacity: 0;
	background-color: rgba(255,255,255,0.9);
	padding: 4px 8px;
	border-radius: 4px;
}
#prev .close{
	margin-left: 10px;
}

/*----------------------
	   info winodw 
------------------------*/

/* info window text inputs */
.window-text{
	position: relative;
}
.window-text div{
	position: absolute;
	z-index: -1;
	opacity: 0;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.7);
}
.window-text input,
.window-text textarea{
	margin: 7px 0;
}
.window-text textarea{
	width: 100%;
	height: 80px;
}
/* info window textbox and buttons */
.window-buttons label{
	cursor: pointer;
	margin-top: 8px;
	float: left;
}
.window-buttons input{
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 5px;
}
.window-buttons span{
	font-size:18px;
	padding-right: 5px;
}
.window-buttons button{
	float: right;
}
.window-buttons div{
	padding-top: 7px;
}


/*----------------------
		instructions
  ----------------------*/
#lead,
.pull-tab>button,
#how-to-install
{
	background: rgba(255,255,255,0.9);
	box-shadow:  0px -2.5px 4px 0px #dcdcdc
}
#how-to-install{
	padding: 10px 15px;
	border-radius: 6px;
	position: relative;
	top: -40px;
}
/*#how-to-install article>div{
	margin-bottom: 15px;
}*/
#how-to-install div.col-md-4{
	margin-bottom: 10px;
}
#how-to-install div.col-md-4>div{
	border: 1px solid #ccc;
	padding: 5px;
}
#how-to-install img{
	max-width: 100%;
}
/* hr that divides sections */
hr.article-divider{
	width: 50%;
	margin-top: 10px;
	margin-bottom: 30px;
}

/*----------------------
	 resume section
  ----------------------*/

.card{
	background-color: transparent;
	border: 0px;
}
.card-block,
.card-footer{
	border: 1px solid #e5e5e5;
	border-top: 0px;
}
/* banner stripes */
.card-header{
	height: 160px;
	overflow: hidden;
	background-color: transparent;
}
.card-header>div{    
	width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    transform: rotate(315deg);
}
.card-header>div>div{
	height: 6px;
	margin-bottom: 6px;
	width: 100%;
	background-color: #e5e5e5;
}
/* image of me */
.card-block{
	background-color: #ffffff;
	text-align: center;
}
.card-block img{
	border-radius: 50%;
	height: 140px;
	width: 140px;
	margin-top: -90px;
	transform: scale(1,1);
	margin-bottom: 1em;
}
/* title */|
.card-block h6{
	font-size: 0.85rem;
}
/* navtabs */
.nav-tabs .nav-link{
	padding: 0.5em 0.8em;
}
/* about me/objective */
.card-block p{
    margin: 1.5rem 0;
    text-align: center;
}
/* resume content */
.resume-content{
	text-align: left;
}
/* resume section headers */
.resume-content h4{
	text-align: center;
	color: #8a8a8a;
	margin-top: 1.5rem;
}
.resume-content h6{
	font-weight: 600;
	color: #8a8a8a;
	margin-bottom: 15px;
}
.resume-content h6 span{
	float:right;
}
.resume-content hr{
	margin-top: 0;
	width: 40%;
	margin-bottom: 1.5rem;
}
.card-block ul{
	font-size: 0.85rem;
}
/* card footer */
.card-footer>div{
	text-align: center;
}
/* icon links */
.card-footer a{
	font-size: 18px;
	/*color: #818a91;*/
	text-decoration: none !important;
}


/* -------- footer ------------------ */
footer{
	background-color: #5f5f5f;
	color:#fff;
}
footer .logo{
	padding-top: 30px;
	padding-left: calc(50% - 67px);
}
footer .logo .route{
	padding: 0 1%;
	color:#333;
}
footer .logo span{
	color: #fff;
}
footer .contact-info,
footer .contact-us{
	text-align: center;
}
footer .glyphicon{
	font-size: 30px;
}
footer>article{
	padding: 15px;
}
footer .contact-us{
	padding: 15px;
}
.contact-us .input-group{
	width: 100%;
}	
footer hr{  
	border-top: 1px solid #aaa;
  	margin: 30px;
}
footer input, footer textarea{
	margin:20px 0;
}
/* ------ end footer ---------------- */


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* navbar */
	.navbar{
		width:420px;
		right: 0px;
	}
	#logo.navbar-brand{
		transform: translate(-150px, 20px) scale(1.8,1.8);
	}
	#navLinks{
		text-align: center;    
		background: none;
	    padding: 0;
	    border-radius: none;
	    display: block !important;
	    transform: translate(0px, 0px) scale(1,1) rotateY(0deg) !important;
	}
	.navbar-nav a.nav-link,
	.navbar form{
		float: left;
	}
	.navbar input{
		border: 0px;
	}
	.navbar-nav>div{
		float: right;
		background: rgba(255,255,255,0.9);
		border-radius: 6px;
		padding: 0 12px;
		width: 100%
	}
	.navbar-nav a.nav-link{
		width: 33%;
		text-align: center;
	}

	/* map builder toolbar */
	.btn-toolbar{
		max-height: none;
	}
	#mapTools{
		margin-right: -108px;
	}
	.btn-toolbar button{
		padding: 0.75rem 1.25rem;
		width:auto !important;
		font-size: 22px;
	}

	/* drop-pin control panel */
	.drop-pin{
		min-width: 500px;
		max-height: 200px;	
	}

	/* edit polygon control panel */
	#poly{
		min-width: 462px;
		max-width: 462px;
	}
	#poly .col-md-4{
		padding-top: 12px;
	}
	#poly .col-xs-6{
		padding-bottom: 14px;
	}

	/* how to embed section */
	hr.article-divider{
		border-color: #fff;
	}
	#how-to-install .img-left{
		padding-left: 15px;
		padding-right: 0;
	}
	#how-to-install .img-right{
		padding-left: 0;
		padding-right: 15px;
		float:right;
	}
	/* embed instruction steps */
	.step{
		margin-bottom: 6px !important;
	}
	.step.step-right{
		float:right;
	}

	/* resume */
	.resume-content{
		padding: 0 1rem;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* navbar */
	.navbar{
		width: 100%;
	}
	.navbar form{
		width: calc(100% - 480px);
		max-width: 300px;
	}
	.navbar input{
		border: 1px solid #ccc;
	}
	.navbar-nav>div{
		float: right;
		border-radius: 0px;
		padding: 5px;
		width: 320px;
	}
	.navbar-nav a.nav-link{
		width:auto;
		/*background: rgba(255,255,255,0.9);
		border-radius: 6px;*/
		padding: 6px 10px;
	}
	.navbar-nav a.nav-link:not(:first-child){
		margin-left: 16px !important;
	}
	#logo.navbar-brand{
		transform: translate(-277px, 17px) scale(1.55,1.55);
	}

	/*----------------------
	 		 footer 
	----------------------*/
	footer.footer-map{
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
	footer .logo,
	footer .list-group-item{
		padding-left: calc(50% - 86px);
	}
	footer .logo{
		margin-top: 14px;
		font-size: 24px;
		margin-bottom: 34px;
	}
	.contact-info,
	.contact-us{
		padding-top: 35px !important;
	}
	.contact-info>div:nth-child(3){
		margin-bottom: 45px !important; 
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	/* logo */
	#logo.navbar-brand{
		transform: translate(-175px, 17px) scale(1.55,1.55);
	}

	/* how to embed section */
	#how-to-install>div{
		margin: 20px 0;
	}
	hr.article-divider{
		display: none;
	}

	/* resume content */
	.resume-content{
		padding: 0 1.5rem;
	}
}






















