/*------------------------------------

		   	 	resume

  ------------------------------------*/

/*----------------------
	animate elements
----------------------*/
.navbar-logo,
#navLinks,
.navbar form{
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}


/*----------------------
	google map
----------------------*/

#map-canvas,
#page-content{
	height: 100%;
	width: 100%;
}
#map-canvas{
	position: absolute;
}
#page-content{
	position: absolute;
}


/*----------------------
		navbar
----------------------*/

/* routesider logo */
.navbar-brand{
	width: 128px;
	margin-left: calc(50% - 57px);
}
.navbar .hidden-sm-up{
	float: right;
}
#navLinks{
	text-align: center;    
	background: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 4px;
    display:none;
    transform: translate(129px, -93px) scale(0.1,0.1) rotateY(180deg);
}
.navbar-nav a.nav-link{
	float: none;
}

/* ------ logo ---------------------- */
.logo{
	text-transform: uppercase;
	text-align: left;
	font-weight: 600;
	font-size: 18px;
	height: 30px;
	background: rgba(255,255,255,0.7);
}
.logo div{
	color:#333;
	line-height: 167%;
}
.logo .route{
	max-width: 70px;
}

/* ------ end logo ------------------ */





/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* navbar */
	.navbar-brand{
		margin-left: 73px;
	}
	#navLinks{
		text-align: none;    
		background: none;
	    padding: 0;
	    border-radius: none;
	    display: block !important;
	    transform: translate(0px, 0px) scale(1,1) rotateY(0deg);
	}
	.navbar-nav a.nav-link,
	.navbar form{
		float: left;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}






















