/*------------------------------------

		   	 	resume

  ------------------------------------*/

/*----------------------
	animate elements
----------------------*/



/*----------------------
	google map
----------------------*/

#map-canvas{
	height: 100%;
	width: 100%;
	position: absolute;
}



































