/*-----------------------------------------------
//
//			AngularJS app example css
//
-----------------------------------------------*/

section{
	margin-top: 40%;
	text-align: center;
}

section p{
	text-align: left;
}
